@import 'normalize.css';

@import './variables';
@import './blog';
@import './utils';
@import './headers';
@import './bubble';

// buttons

body {
  font-family: $main-font, sans-serif;
  font-size: $font-base;
  position: relative;
}
