:root {
  --ming: #006d77ff;
  --ming-dark: #006d80;
  --blue-green: #83c5beff;
  --alice: #edf6f9ff;
  --unbleached-silk: #ffddd2ff;
  --dark-salmon: #e29578ff;
}

body {
  width: 1000px;
  margin: auto;
}

gallery {
  display: grid;
  grid-template-rows: repeat(5, 300px);
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
}

header {
  display: grid;
  grid-template-columns: 200px 100px 100px 200px;
  grid-template-rows: 50px 100px auto 80px;
  margin-bottom: 20px;
  justify-content: center;
  grid-template-areas:
    'image image . name'
    'image image . bio'
    'image image . . '
    'like message message dot';
}
header img {
  grid-area: image;
  border-radius: 50%;
  border: 8px solid var(--dark-salmon);
}
header h1 {
  grid-area: name;
}
header p {
  grid-area: bio;
}
header button {
  background-color: var(--ming);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
/* header button:hover {
  background-color: var(--ming-dark);
  border: none;
} */

#like {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-area: like;
}
#message {
  grid-area: message;

  border-left: 2px solid var(--blue-green);
  border-right: 2px solid var(--blue-green);
}
#dot {
  grid-area: dot;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
