// @import 'normalize.css';

@import './normalize';
@import './variables';
@import './blog';
@import './utils';
@import './headers';
@import './bubble';
@import './sport';
@import './nav';
@import './form';
@import './applegrid';

// buttons

body {
  font-family: $main-font, sans-serif;
  font-size: $font-base;
  position: relative;
}

// For typical mobile devices --- XS
@media only screen and (min-width: 0px) and (max-width: 479px) {
}
// For mobile (landscape) --- SM
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
// For tablet --- MD
@media only screen and (min-width: 768px) and (max-width: 979px) {
}
// For small desktop --- LG
@media only screen and (min-width: 980px) and (max-width: 1023px) {
}
// For typical desktop --- XL
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}
// For large desktop --- XXL
@media only screen and (min-width: 1200px) {
  body {
    // background-color: blanchedalmond;
  }
}
