nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #37364c;
}

nav a:hover {
  background-color: #37364c;
  color: white;
}
